@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Anek+Latin:wght@100..800&family=Edu+SA+Beginner:wght@400..700&family=Major+Mono+Display&family=Quicksand:wght@300..700&family=Unbounded:wght@200..900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Piazzolla:ital,opsz,wght@0,8..30,100..900;1,8..30,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  body {
    @apply bg-white text-[#151c2c];
  }

  a {
    @apply text-inherit no-underline;
  }
  .nav_link {
    @apply relative text-base md:text-lg items-center font-medium w-fit block after:block after:content-[''] after:absolute after:h-[2px] after:bg-orange-500 text-[#49557e] after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-right;
  }
  input {
    @apply border border-gray-200 p-3 bg-zinc-100/40 rounded-lg;
  }
  .btn-primary {
    @apply px-2 py-2 gap-2 justify-center  bg-gradient-to-r from-purple-500 to-indigo-500  text-white rounded hover:bg-neutralDGray;
  }
  .custom_bg {
    clip-path: polygon(0 0, 100% 1%, 100% 96%, 0 100%);
  }
  .custom_bg2 {
    clip-path: polygon(0 0, 100% 0, 100% 98%, 0% 100%);
  }
  .custom_bg3 {
    clip-path: polygon(0 4%, 100% 0, 100% 95%, 0% 100%);
  }
}
